.first {
    text-align: center;
    border: outset thistle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second {
    text-align: center;
    border: outset powderblue;
    box-shadow: 5px 15px;
    color: turquoise;
}

body {
    background-color: black;
}

h1{
    color: blue;
}